#interactive-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 38px); 
/* Title is 38px tall */
}

#scroll-container {
    width: 30%;
}

#chart-container {
    width: 70%;
}

#data {
    border-right: solid brown 1px;
    height: 100%;
}

#map {
    height: 100%;
    border: solid blue 1px;
}

#scroll-container {
    overflow-y: scroll;
    height: calc(100vh - 38px); 
}

.tooltip {
    height: 100px;
    width: 300px;
    background-color: beige;
}